* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 5px;
    flex: 1;
}

.container > * {
    padding: 10px;
    grid-column: col-start / span 12;
}

@media (min-width: 576px) {
    .container > * {
        padding: 5px;
    }
    ul li a {
        padding: 8px 10px;
        font-size: 13px;
    }
    .content {
    grid-column: col-start / span 9;
    padding: 5px;
  }

    .sides {
    grid-column: col-start 10 / span 3;
    padding: 15px;
  }

    .footer {
    grid-column: col-start / span 12;
  }
}

@media (min-width: 768px) {
  .content {
    grid-column: col-start / span 9;
  }

  .sides {
    grid-column: col-start 10 / span 3;
    align-self: start;
  }

  .footer {
    grid-column: col-start / span 12;
  }
}

#topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: rgb(255, 217, 0);
    color: black;
    text-decoration: none;
}

#topBtn:hover {
    background-color: gray;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #003139;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li a {
    font-family: "Poppins", sans-serif;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

ul li a:hover {
    color: white;
    background-color: #089494;
    transform: translateY(-3px); 
}

ul li a.active {
    color: gray;
    text-decoration: underline;
    text-decoration-color: rgb(255, 217, 0);
    text-underline-offset: 20px;
    text-decoration-thickness: 4px;
    transform: translateY(-3px);
}

#universe, #dark{
    width: 80%;
    aspect-ratio: 2 / 1;
    display: block;
    margin: 0 auto;
}

article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 10px;
}

article header {
    color: white;
    padding: 15px;
    background: rgb(10, 10, 10);
    text-align: center;
}

section {
    border: 1px solid green;
    padding: 15px;
    background-color: beige;
    justify-content: center;
}

aside {
    border: 1px solid rgb(0, 26, 56);
    background: rgb(173, 173, 173);
    padding: 30px;
    margin-bottom: 10px;
    justify-content: center;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}